<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="/style.css"> <!-- Ajoute ton CSS si nécessaire -->
</head>
<body>
  <header>
    <h1>Bienvenue, <%= user.name %> !</h1> <!-- Affiche le nom de l'utilisateur -->
    <nav>
      <ul>
        <li><a href="/edit/<%= user.id %>">Mon profil</a></li>
        <li><a href="/appointments">Mes rendez-vous</a></li>
        <li><a href="/allMedecins">ListeMedecins</a></li>

        <li><a href="/logout">Déconnexion</a></li> <!-- Permet à l'utilisateur de se déconnecter -->
      </ul>
    </nav>
  </header>

  <main>
    <section>
      <h2>Informations sur votre compte</h2>
      <p>Email : <%= user.email %></p> <!-- Affiche l'email de l'utilisateur -->
    </section>

    <section>
        <h2>Mes Rendez-vous</h2>
        <% if (appointments && appointments.length > 0) { %>
          <table>
            <thead>
              <tr>
                <th>Date</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <% appointments.forEach(appointment => { %>
                <tr>
                  <td><%= appointment.date_RDV %></td>
                  <td><%= appointment.description%></td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        <% } else { %>
          <p>Vous n'avez pas de rendez-vous à venir.</p>
        <% } %>
      </section>
      
  </main>

  <footer>
    <p>&copy; 2025 Votre Application</p>
  </footer>

</body>
</html>
