<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifier un utilisateur</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <nav>
          <ul>
            <li><a href="/edit/<%= user.id_patient %>">Mon profil</a></li>
            <li><a href="/appointments">Mes rendez-vous</a></li>
            <li><a href="/logout">Déconnexion</a></li> <!-- Permet à l'utilisateur de se déconnecter -->
          </ul>
        </nav>
      </header>
    <h2>Modifier l'utilisateur</h2>
    <form action="/update/<%= user.id_patient%>" method="POST">
        <fieldset>
            <label for="first-name">First Name: <input id="first-name" name="nom" type="text" value="<%= user.nom %>" /></label><br>
            <label for="last-name">Last Name: <input id="last-name" name="prenom" type="text" value="<%= user.prenom %>"  /></label><br>
            <label for="email">Email: <input id="email" name="email" type="email" value="<%= user.email %>" /></label><br>
            <label for="phone-number">phone number: <input id="phone-number" name="tel" type="tel"  value="<%= user.num_tel %>"/></label><br>
            <label for="date-of-birth">Date of Birth: <input id="date-of-birth" name="dateNaissance" type="date" value="<%= user.date_naissance %>"><br>
            <label for="Taille">Taille en Cm <input id="taille" name="taille" type="number" step="any"value="<%= user.taille %>" /></label><br>
            <label for="Poids">Poids en Kg <input id="poids" name="poids" type="number" step="any"value="<%= user.poids %>" /></label><br>
                <input type="submit" value="Modifier">
        </fieldset>
    </form>
    
</body>
</html>
