<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="listeStyle.css">
    <title>Liste Des Medecins</title>
</head>
<body>
    <div class="liste">
      <a href="/dashboard">
        <button class="acceuilButton">Retour à l'acceuil</button>
      </a>

        <h1>Liste Des Medecins</h1>


        

        <table id="tableauMedecin">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Specialité</th>
                    <th>Localisation</th>
                    <th>E-mail</th>
                    <th>Rendez-vous</th>
                </tr>
            </thead>
            <tbody id="listeMedecins">
                <% listeMed.forEach(med => { %>
                <tr class="medecin">
                    <td class="nom">Dr.<%= med.nom%>  <%= med.prenom%></td>
                    <td class="specialite"><%= med.specialite %></td>
                    <td class="localisation"><%= med.localisation %></td>
                    <td class="email"><%= med.email %></td>
                    <td><a href="/prendreRdv/<%= med.id_medecin %>"><button class="rdvButton">Prendre un rendez-vous.</button></a></td>
                    
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</body>
</html>