<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="listeStyle.css">
    <title>Liste Des Medecins</title>
</head>
<body>
    <div class="liste">
      <a href="/dashboard">
        <button class="acceuilButton">Retour à l'acceuil</button>
      </a>

        <h1>Liste Des Medecins</h1>


        <div class="filtre">
            <label for="filtre-selection">Filtre :</label>
            <label for="specialite-selection">Specialité: </label>
            <select id="specialite-selection">
                <option value="">Tous</option>
                <option value="dermatologie">Dermatologie</option>
                <option value="neurologie">Neurologie</option>
                <option value="anesthesiologie">Anesthésiologie </option>
                <option value="psychiatrie">Psychiatrie</option>
            </select>

            <label for="localisation-selection">Localisation :</label>
            <select id="localisation-selection">
                <option value="">Tous</option>
                <option value="tunis">Tunis</option>
                <option value="bizerte">Bizerte</option>
                <option value="sousse">Sousse</option>
                <option value="nabeul">Nabeul</option>
                <option value="sfax">Sfax</option>
            </select>
        </div>

        <table id="tableauMedecin">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Specialité</th>
                    <th>Localisation</th>
                    <th>E-mail</th>
                    <th>Rendez-vous</th>
                </tr>
            </thead>
            <tbody id="listeMedecins">
                <% listeMed.forEach(med => { %>
                <tr class="medecin">
                    <td class="nom">Dr.<%= med.nom%>  <%= med.prenom%></td>
                    <td class="specialite"><%= med.specialite %></td>
                    <td class="localisation"><%= med.localisation %></td>
                    <td class="email"><%= med.email %></td>
                    <td><a href="/prendreRdv/<%= med.id_medecin %>"><button class="rdvButton">Prendre un rendez-vous.</button></a></td>
                    
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</body>
</html>